@font-face {
  font-family: FjallaOne;
  src: url('./fonts/FjallaOne-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.border {
  border: 1px solid red;
}
